/* Estilos scrollbar */
::-webkit-scrollbar {
    width: 10px; /* ancho barra */
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color fondo barra */
  }
  ::-webkit-scrollbar-thumb {
    background: #f92c8b; /* color barra */
    border-radius: 10px; /* borde barra */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4741d7; /* color barra hover */
  }

* {
    box-sizing: border-box;
}



form {    
    width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
    
}


body {
    width: 100%;
    height: 650px;
    background-image: url(img/1background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    color: black;
    text-align: auto;
    font-family: monospace;
}

h1{
    text-align: center;
    color: #ccc;
}

h3{
    text-align: center;
    color: #ccc;
}

.botonformularioAux{
    bottom: center;
    
}

